<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" type="text/css" href="http://wxmovie.qq.com/wx/20141120/cai20/css/style.css">
</head>
<body>
<!--attent_wy end-->
<div class="guess_film">
    <img src="http://wxmovie.qq.com/wx/20141120/cai20/img/sec_bg.jpg" alt="背景图片"/>
    <% for(var i = 0; i < data.length; i++) { %>
    <section class="guess_sec" style="display:none;">
        <div class="bgfdf_box">
            <header><%= i + 1 %>/5</header>
            <img src="<%= data[i].topic_image %>" alt="图片"/>
            <aside><%= data[i].topic %></aside>
        </div>
        <span class="answer_btn" rel="A"><%= eval(data[i].options)[0] %></span>
        <span class="answer_btn" rel="B"><%= eval(data[i].options)[1] %></span>
    </section>
    <% } %>
    <!--guess_start end-->
</div>
<!--guess_film end-->
<script src="http://libs.baidu.com/zepto/0.8/zepto.min.js"></script>
<script>
    $(function () {
        var result = {};

        //问题集合
        var sections = $(".guess_sec");

        var start = 0, current = start, end = sections.length;

        function init() {
            sections.eq(current).show();
        }


        init();
        var wrongs = '';

        $('.answer_btn').click(function () {
            result[current + 1] = $(this).attr('rel');
            sections.eq(current).hide();
            current += 1;
            if (current == end) {
                console.log(result);
                $.ajax({
                    type: "POST",
                    url: "answer",
                    data: result,
                    success: function (msg) {
                        alert(msg);
                        //window.location.href = wrongs ? "result_error.html?question=" + wrongs : "result_yes.html";
                    }
                });
            }
            sections.eq(current).show();
        });

    });
</script>
</body>
</html>
